{% extends "FkStrategyMakerBundle::layout.html.twig" %}
{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function(){
  });
</script>
{% endblock %}

{% block content %}
<div class="">
  <div class="muted">Strategy for:</div>
  <div class="form-actions hide-buttons" style="margin-top: 10px;">
    <h1>{{ entity.title }}</h1>
    <form action="{{ path('strategy_delete', { 'id': entity.id }) }}" method="post">
      {{ form_widget(delete_form) }}
      <a class="btn btn-primary btn-small" href="{{ path('strategy_edit', { 'id': entity.id }) }}"><i class="icon-edit icon-white"></i>Edit</a>
      <button class="btn btn-danger btn-small" type="submit"><i class="icon-remove icon-white"></i>Delete</button>
    </form>
  </div>
  <div class="muted">Vision:</div>
  <p class="lead">
    {{ entity.vision }}
  </p>
</div>

<div style="text-align: left; margin-bottom: 15px;">
  <a id="open-new-goal-dialog" role="button" data-toggle="modal" data-target="#modal-goal-dialog" href="{{ path('goal_new', { 'strategy_id': entity.id}) }}" class="btn btn-primary btn-medium"><i class="icon-plus icon-white"></i> Goal</a>
</div>
        
<div class="row">
{% for goal in entity.getGoals() %}
  <div class="goal span6">
    <div class="well">
      <div class="hide-buttons">
        <form style="float:right" action="{{ path('goal_delete', { 'id': goal.id }) }}" method="post">
          {{ form_widget(delete_form) }}
          <a class="btn btn-primary btn-small" href="{{ path('goal_edit', { 'id': goal.id }) }}"><i class="icon-edit icon-white"></i>Edit</a>
          <!--
          <button class="btn btn-danger btn-small" type="submit"><i class="icon-remove icon-white"></i>Delete</button>
          -->
        </form>
        <h3>{{ goal.title }}</h3>
      </div>

      <div>
        <a id="open-new-action-dialog" role="button" data-toggle="modal" data-target="#modal-action-dialog" href="{{ path('action_new', { 'goal_id': goal.id}) }}" class="btn btn-primary btn-medium"><i class="icon-plus icon-white"></i> Action</a>
      </div>

      <div class="actions">
      <h4 class="muted">To achieve this goal, I will:</h4>
      {% for action in goal.getActions() %}
        <blockquote class="todo hide-buttons">
          <form style="float:right" action="{{ path('action_delete', { 'id': action.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <a class="btn btn-primary btn-small" href="{{ path('action_edit', { 'id': action.id }) }}"><i class="icon-edit icon-white"></i>Edit</a>
            <!--
            <button class="btn btn-danger btn-small" type="submit"><i class="icon-remove icon-white"></i>Delete</button>
            -->
          </form>
          <p>
            <strong>{{ action.title }}</strong>
          </p>
          <p><span>My challenges: <span>{{ action.challenge }}</span></span></p>
          <p><span class="label label-info"><i class="icon-time icon-white"></i> {{ action.startdate|date('Y-m-d H:i') }}</span></p>
        </blockquote>
      {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>

<!-- MODAL DIALOG -->
<div id="modal-goal-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="goalModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="goalModalLabel">New Goal</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
  </div>
</div>

<div id="modal-action-dialog" class="modal hide fade" tabindex="-2" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="actionModalLabel">New Action</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
  </div>
</div>
{% endblock %}