{% extends "FkStrategyMakerBundle::layout.html.twig" %}
{% block content %}
<div class="dark-block">
  <div class="form-actions">
    <h3>{{ entity.title }}</h3>
    <form action="{{ path('strategy_delete', { 'id': entity.id }) }}" method="post">
      {{ form_widget(delete_form) }}
      <a class="btn btn-primary btn-small" href="{{ path('strategy_edit', { 'id': entity.id }) }}"><i class="icon-edit icon-white"></i>Edit</a>
      <button class="btn btn-danger btn-small" type="submit"><i class="icon-remove icon-white"></i>Delete</button>
    </form>
  </div>
  <p>
    {{ entity.vision }}
  </p>
</div>

<div style="text-align: right">
  <a class="btn btn-primary btn-large" href="{{ path('goal_new', { 'strategy_id': entity.id}) }}"><i class="icon-plus icon-white"></i> Goal</a>
</div>
        
<div class="row">
{% for goal in entity.getGoals() %}
  <div class="span12">
    <div class="dark-block">
      <div class="form-actions">
        <h3>{{ goal.title }}</h3>
        <form action="{{ path('goal_delete', { 'id': goal.id }) }}" method="post">
          {{ form_widget(delete_form) }}
          <a class="btn btn-primary btn-small" href="{{ path('goal_edit', { 'id': goal.id }) }}"><i class="icon-edit icon-white"></i>Edit</a>
          <!--
          <button class="btn btn-danger btn-small" type="submit"><i class="icon-remove icon-white"></i>Delete</button>
          -->
        </form>
      </div>

      <div style="text-align: right">
        <a class="btn btn-primary btn-large" href="{{ path('action_new', { 'goal_id': goal.id}) }}"><i class="icon-plus icon-white"></i> Action</a>
      </div>

      <div class="row">
      {% for action in goal.getActions() %}
        <div class="span5">
          <div class="light-block">
            <span class="label label-info"><i class="icon-time icon-white"></i> {{ action.startdate|date('Y-m-d H:i') }}</span>
            
            <div class="form-actions">
              <h3>{{ action.title }}</h3>
              <form action="{{ path('action_delete', { 'id': action.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <a class="btn btn-primary btn-small" href="{{ path('action_edit', { 'id': action.id }) }}"><i class="icon-edit icon-white"></i>Edit</a>
                <!--
                <button class="btn btn-danger btn-small" type="submit"><i class="icon-remove icon-white"></i>Delete</button>
                -->
              </form>
            </div>
            
            <p>{{ action.challenge }}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}